abc.txt

# Windows specific
Thumbs.db
desktop.ini
$RECYCLE.BIN/
.DS_Store
ehthumbs.db

# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
*.pyo
*.log
*.sqlite3
*.ipynb_checkpoints

# Virtual Environment
venv/

# IDE specific files
.vscode/
.idea/
*.iml
*.suo
*.user
*.opensdf
*.sdf
*.tlog
*.vscode/

# Visual Studio specific
.vs/
*.csproj.user
*.vcxproj.user
*.vcxproj.filters
*.pdb
*.opendb
*.suo
*.cache
*.ilk
*.aps
*.ncb
*.user
*.mode1v3
*.mode2v3
*.sdf
*.ipch
*.tlog
*.log
*.obj
*.pch
*.idb
*.pgc
*.pgd
*.rsp
Debug/
Release/
x64/
build/
DerivedDataCache/
ipch/
*.vcxproj
*.vcproj
*.pdb

# General backup files
*.bak
*.tmp
*.swp
*.old
*.orig
*~
